body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 2em;
    line-height: 1.6;
}
h1,
h2 {
    color: #2c3e50;
}
h2 {
    margin-top: 2em;
}
.section {
    width: 100%;
    margin-bottom: 2em;
}
.job {
    margin-bottom: 1em;
}
.contact,
.skills,
.languages,
.interests {
    columns: 2;
}
.contact p,
.skills,
.languages,
.interests {
    margin: 0.2em 0;
}
